#lists{
    position: relative;
}

#toDoList,#doneList{
    position: absolute;
    top: 5%;
    min-width:15%;
    width: auto;
    margin: 3%;
}
#doneList{
    left: 57%;
}

#insideToDoList,#insideListDone{
    position: relative;
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: white;
    opacity:0.9;
    height: 30px;
    padding-top: 12px;
    padding-left: 10%;
}

#done,#reDo{
    position:absolute;
    right: 0;
    width:2px;
    height: 2px;
}
#delete{
    position:absolute;
    right: 22px;
    height: 20px;
    width : 20px;
    background-image: url("../images/trash.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#done{
    height: 20px;
    width : 20px;
    background-image: url("../images/ok.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#reDo{
    height: 20px;
    width : 20px;
    background-image: url("../images/redo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

body {
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Neucha', cursive;
}

#root{
    background-color: white;
    opacity: 0.9;
    padding-left: 5%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 1%;
    padding-top: 1px;
}

