#list,#doneList{
    border: solid 1px black;
    width: 150px;
    display: inline-block;
}
#doneList{
    position: absolute;
    left: 15%;
}
#insideList,#insideListDone{
    position: relative;
    height: 22px;
}
#done,#reDo{
    position:absolute;
    right: 0;
    width:2px;
    height: 2px;
}
#delete{
    position:absolute;
    right: 22px;
    height: 20px;
    width : 20px;
    background-image: url("../images/trash.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#done{
    height: 20px;
    width : 20px;
    background-image: url("../images/ok.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#reDo{
    height: 20px;
    width : 20px;
    background-image: url("../images/redo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
